body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/*header*/
header{
  background-color: #1d1e64;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
}

.search-box {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0;
  margin-left: 20px;
}

.search-box input {
  padding: 8px 10px;
  width: 550px;
  border: none;
  border-radius: 4px;
}

.search-nút{
  background-color: #00aaff;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 20px;
}

.search-nút:hover {
  background-color: #0088cc;
}

.nav-icons button {
  background-color: #ddd;
  border: 1px solid #b93333;
  border-radius: 6px;
  padding: 7px 12px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 30px;
}

.nav-icons button:hover {
  background-color: rgba(121, 139, 201, 0.2);
}



/*Menu điều hướng*/
header img {
  height: 50px;
  margin-right: 15px;
}

nav {
  background-color: #dcd3d3;
  padding: 10px 20px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 100px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
/*menu con*/
.menu li{
  width: 100px;
  line-height: 40px;
  text-align: center;
  position:relative;
}
.menu li a{
  color: black;
  display:block;
}
/*ẩn menu2*/
.menu2{
  display: none;
  list-style: none;
}
/*hiện menu con*/
.menu li:hover .menu2{
  display:block;
  background-color: #00aaff;
  position: absolute;
}
/*lưới*/
.container{
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-auto-flow: 50px;
    gap: 10px;
    margin: 1px;
}
.box{
    display:flex;
    padding: 10px;
    justify-content: center;
}
.box1{
    background: white;
    grid-row:1/3;
    grid-column:1/8;
    padding: 10px;
}
.box2{
    background:white;
    color:#333;
    grid-row:1/3;
    grid-column:8/12;
    padding: 10px;
    font-size: 20px;
}
.box3{
    background:white;
    color:#333;
    grid-row:3/5;
    grid-column:1/8;
    padding: 10px;
}
.box4{
    background:white;
    color:#333;
    grid-row:3/5;
    grid-column:8/12;
    padding: 10px;
    font-size: 20px;
}
.box5{
    background:white;
    color:#333;
    grid-row:5/7;
    grid-column:1/8;
    padding: 10px;
}
.box6{
    background:white;
    color:#333;
    grid-row:5/7;
    grid-column:8/12;
    padding: 10px;
    font-size: 20px;
}